*{
    margin: 0px;
    padding: 0px;
    font-family: 'Syne Mono', monospace;
}
body{
    background: url("./patrick-connor-klopf-pZcCZf9SqkE-unsplash.jpg") no-repeat;
    background-size: 100vmax 800px;
}
header{
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    text-shadow: 1px 1px black;
    background-color: brown;
    color: rgb(250, 171, 75);
    border: 2px solid grey;
    box-shadow: 2px 2px rgb(238, 134, 134);
    justify-content: space-evenly;
}


article{
    /* background-color: rgb(79, 117, 117); */
    /* border: 2px solid grey; */
    width: 350px;
    height: 350px;
    position: absolute;
    top: 200px;
    left: 300px;

}
.inp{
    width: 46%;
    height: 25px;
    padding-left: 35px;
    margin-bottom: 35px;
    border-radius: 6px;
}
.inp:hover{
    background-color: bisque;
}

#submit{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(67, 148, 175);
    color: white;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 0px;
    cursor: pointer;
}
#submit:hover{
    background-color: deepskyblue;
    color: gainsboro;
}
